[user]
	email = joris.vdmr@gmail.com
	name = Joris Vandermeersch
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[color]
	ui = auto
[core]
	excludesfile = /Users/joris/.gitignore_global
[commit]
	template = /Users/joris/.stCommitMsg
[pull]
	rebase = true
