[user]
	email = joris.vdmr@gmail.com
	name = Joris Vandermeersch
[includeIf "gitdir:~/programming"]
	path = ~/.rootsgitconfig
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[color]
	ui = auto
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore_global
[commit]
	template = ~/.stCommitMsg
[pull]
	rebase = true
